.Modal__container {
    border-radius: 5px;
    position: absolute;
    top: 10px;
    left: 120px;
    margin-top: 150px;
    overflow-x: auto;
    z-index: 10000;
    height: 78%;
	margin: 0px; padding: 23px; 
	border: 1px solid #FFF; border-radius: 3px;
	background-color: #FFF;
	box-shadow: 0 1px 6px #000;

    &.Modal__wide {
        width: 600px;
        height: 300px;
    }

    > .Modal__header {
        padding: 5px;
        width: 100%;
        height: 18px;
        border-radius:5px;
        color: black;
        font: Bold 12px Roboto;
        background-color: #D2D7D3;
        color: #707070;
        
        > .Modal__close {
            color: black;
            float: right;

            &:hover {
                cursor: pointer;
            }
        }
    }

}